language: node_js
node_js:
  - "0.10"
before_install: npm i npm@latest -g
env:
# NOTE: node_js has no support for varying the test script thru build matrix,
# so for now we just drive it by env:
- TCHANNEL_TEST_CONFIG= NPM_TEST_SCRIPT=travis
- TCHANNEL_TEST_CONFIG= NPM_TEST_SCRIPT=hyperbahn-link-test
- TCHANNEL_TEST_CONFIG=test/config/with_lazy_relay.json NPM_TEST_SCRIPT=travis
- TCHANNEL_TEST_CONFIG=test/config/with_lazy_relay.json NPM_TEST_SCRIPT=hyperbahn-link-test
- TCHANNEL_TEST_CONFIG= NPM_TEST_SCRIPT=tcurl-link-test

script: npm run $NPM_TEST_SCRIPT
